<section class="features">
    <div class="features-container">
        <br>
        <div class="feature">
            <div class="feature-icon-container">
                <img src="/img/research-paper-line-icon-vector.jpg" alt="Research" class="feature-icon">
            </div>
            <div class="feature-text">
                <h3>Simplify Biomedical Literature Access</h3>
                <p>Metapub simplifies the process of accessing and working with biomedical literature in Python.</p>
                <p>Easily scale your research efforts using a developer-friendly python API.</p>
            </div>
        </div>
        <div class="feature">
            <div class="feature-icon-container">
                <img src="/img/NCBI_vert.png" alt="NCBI icon" class="feature-icon">
            </div>
            <div class="feature-text">
                <h3>Search PubMed, MedGen, and ClinVar</h3>
                <p>Fetch PubMed articles using identifiers, author names, MESH terms, DOIs, and keyword searches.</p>
                <p>Perform complex searches using journals, medical genetics concepts, and other criteria.</p>
                <p>Cross-check and improve results using CrossRef and EuropePMC.</p>
            </div>
        </div>
        <div class="feature">
            <div class="feature-icon-container">
                <img src="/img/research_stack.jpg" alt="Icon 2" class="feature-icon">
            </div>
            <div class="feature-text">
                <h3>Build a Corpus with FindIt</h3>
                <p>Save time! Don't manually download articles!</p>
                <p>Use metapub's FindIt to generate links to all the articles you need.</p>
            </div>
        </div>
        <div class="feature">
            <div class="feature-icon-container">
                <img src="/img/citations.png" alt="Brain icon" class="feature-icon">
            </div>
            <div class="feature-text">
                <h3>Analyze Citations</h3>
                <p>Extract and parse citation information from article metadata, allowing you to build citation networks.</p>
            </div>
        </div>
    </div>
</section>

