<section class="hero">
    <div class="container hero-content">
        <div class="hero-text-logo">
            <img src="/metapub_logo.png" alt="Metapub Logo" class="logo">
            <p><strong>Metapub</strong> makes it easy to access article metadata and full-text content from PubMed and other databases within the National Library of Medicine (NLM).</p>
        </div>
        <div class="button-container">
            <a href="/overview/" class="get-started">Get Started with Metapub</a>
        </div>
    </div>
</section>

