<aside class="sidebar">
    <a href="https://pypi.org/project/metapub/" class="download-button">Download the latest release</a>
    <div class="sidebar-content">
        <h3>Latest News</h3>
	<p><i>July 13, 2024</i> - <a href="/">Metapub.org</a> is live!  Full documentation pages are in the works.  In the meantime, check out the <a href="/cookbook">Metapub Cookbook</a> for recipes solving common and creative use cases.  And feel free to <a href="https://github.com/metapub/metapub.org/issues">submit new recipes to us on the metapub.org GitHub.</a></p>
        <h3>Community</h3>
        <p>Join our community on GitHub! We're always looking for contributors and we welcome bug reports and suggestions for improvements.</p>
	<p><a href="https://github.com/metapub/metapub">Metapub codebase on GitHub</a></p>
    </div>
</aside>

